@import "./base.css";

/*=======================================================*/
/*  header                                               */
/*=======================================================*/

body {
  background-color: rgb(0 0 0 / 0.025);
}

header {
  height: 100px;
  line-height: 100px;
  background-color: var(--app-white);
}

h1 {
  cursor: pointer;
}

input[type="search"] {
  width: 200px;
  height: 60px;
  padding: 0 20px 0 45px;
  background: rgb(255 255 255 / 0.05) url('../img/search.png') no-repeat 16px 20px;
  background-size: 18px;
  border-bottom: 1px solid rgb(0 0 0 / 0.1);
}

input[type="search"]:focus {
  border-bottom: 1px solid rgb(0 0 0 / 0.3);
}

nav ul li i {
  padding-right: 5px;
  cursor: pointer;
}

.profile-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
}

/*=======================================================*/
/*  main                                                 */
/*=======================================================*/

main {
  margin-top: 40px;
  height: calc(100svh - 260px);
}

aside {
  width: 23%;
}

.posts {
  width: 48%;
}

.profile-about {
  background-color: var(--app-white);
  text-align: center;
}

.profile-img-user-main, .profile-img-aside {
  background: #fff url('../img/profile-pic.jpg') center / cover no-repeat;
}

.img-container {
  justify-content: center;
}

.profile-img-aside {
  margin-top: 40px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.fa-link {
  color: var(--app-blue-hover);
  padding-bottom: 15px;
}

.profile-about p:first-of-type {
  padding-bottom: 30px;
}

.profile-link {
  display: inline;
  color: var(--app-grey);
  padding: 30px 0 15px;
}

.profile-stats {
  margin-top: 5px;
}

.stats {
  background-color: var(--app-white);
  text-align: center;
  width: 49%;
}

.stats p {
  padding-bottom: 10px;
}

.stats-number {
  font-weight: 800;
  font-size: 18px;
  padding-top: 15px;
}

.premium {
  background-color: var(--app-white);
  justify-content: center;
  margin-top: 5px;
}

.premium-ad {
  padding: 30px 0 10px ;
  color: var(--app-grey);
  font-size: 14px;
  text-align: center;
}

.premium-button {
  height: 44px;
  width: 74%;
  color: var(--app-blue-hover);
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.user-profile-name {
  padding-top: 25px;
  font-size: 21px;
}

.platform {
  width: 100%;
}

#file-input {
  display: none;
}

.file-name {
  font-size: 14px;
  padding-left: 10px;
}

.fa-image {
  margin-left: 20px;
  font-size: 20px;
  line-height: 60px;
  color: var(--app-grey-dark);
  cursor: pointer;
}

form {
  background-color: #fff;
  width: 100%;
  height: 230px;
  border-radius: 8px;
}

.submit {
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-center {
  justify-content: center;
}

textarea {
  resize: none;
  width: 100%;
  height: 160px;
  background-color: transparent;
  color: var(--app-grey-dark);
  padding: 20px;
}

input[type="button"] {
  border-radius: 5px;
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  width: 100px;
  background-color: var(--app-blue);
  margin-right: 15px;
}

input[type="button"]:hover {
  background-color: var(--app-blue-hover);
}

.placeholder-post {
  background-color: var(--app-white);
  margin: 30px 0;
  padding: 20px;
}

.placeholder-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 15px 15px 0;
}

.ph-img-one {
  background: #fff url('../img/profile-ph-one.jpg') center / cover no-repeat;
}

.ph-img-two {
  background: #fff url('../img/profile-ph-two.jpg') center / cover no-repeat;
}

h5 {
  font-size: 14px;
  font-weight: 700;
}

.placeholder-p-title {
  font-size: 12px;
  margin-bottom: 12px;
}

.placeholder-sub-head {
  width: 470px;
}

.placeholder-p {
  font-size: 14px;
}

.placeholder-post-img {
  width: 100%;
  height: 300px;
}

.ph-post-img-one {
  margin-top: 15px;
  background: #fff url('../img/job-post.jpg') center / cover no-repeat;
}

.people-suggestions {
  background-color: var(--app-white);
  text-align: center;
  padding-bottom: 30px;
}

.people-section > div {
  background-color: var(--app-white);
  margin-bottom: 5px;
  padding: 20px;
}

.profile-img-people {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 15px;
}

.people-suggestions-city {
  font-size: 12px;
}

/*=======================================================*/
/*  footer                                               */
/*=======================================================*/

footer {
  margin-top: 40px;
  height: 80px;
  background-color: var(--background-strong-dark-grey);
  color: var(--app-white);
}

.contact {
  line-height: 80px;
}

.list {
  height: 100%;
}

.list i {
  font-size: 24px;
  color: var(--app-white);
}

.list i:hover {
  color: var(--app-blue);
}

.copyright {
  line-height: 80px;
  font-size: 17px;
  font-weight: 600;
}